* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: moccasin;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.font {
    font-size: 80px;
}